.page-projects {
    .site-media h2 {
        font-weight: 500;
        opacity: 1;
        font-size: 2.2em;
        text-align: center;
    }
}

.page-home {
    .site-media {
        height: 75vh;
    }
}

.page-contacts {
    .site-media {
        text-align: center;
    }

    .site-media .site-wrapper h2 {
        margin-top: -2.5em;
    }

    @include bp(mobile) {
        .site-media .site-wrapper h2 {
            margin-top: -3em;
        }
    }
    
}


